<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品首页</title>
   <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <!-- 第一行 --> 
    <div class="top">
        <!-- 左导航 -->
        <div>
            <div class="top-left">
                <ul>
                    <li><a href="#">搜狗商城</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">意见反馈</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">收藏本站</a></li>
                </ul>
            </div>
            <!-- 右导航 -->
            <div class="top-right">
                <ul>
                    <li>
                        <a href="#">登录</a>
                        <a href="/resign" target="_blank">注册</a>
                    </li>
                    <li><span>|</span></li>
                    <li><a href="#">S码通道</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">手机商城</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">在线客服</a></li>
                    <li class="shop">
                      购物车 (0)                  
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 第二行 -->
    <div class="two">
        <!-- 左 logo图 -->
        <div class="two-left">
            <img src="/images/logo.png" alt="">
             <p>搜狗商城</p>
        </div>
        <!-- 右 导航 -->
        <div class="two-right">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">智能翻译</a></li>
                <li><a href="#">糖猫手表</a></li>
                <li><a href="#">配件</a></li>
                <li><a href="#">社区</a></li>
                <li><a href="#">录音笔网页版</a></li>
            </ul>
        </div>
    </div>
    <!-- 第三行 -->
    <div class="three">
        <img src="/images/屏幕截图-2022-03-05-150238_03.jpg" alt="">
    </div>

    <div class="boxbig">
<!-- 第四行 -->
<div class="four">
    <!-- 推荐 -->
    <div class="item-top">
        <p>
            <span class="font1">智能产品推荐</span>
            <span class="font2 font2-left">工作学习，出国旅游好帮手</span>
        </p>
    </div>
    <!-- 推荐商品 -->
    <div class="item-img">
        <img src="/images/001.png" alt="">
        <img src="/images/002.png" alt="">
    </div>
</div>
<!-- 第五行 -->
<div class="five">
    <!-- 糖猫产品 -->
    <div>
       <div class="item-top">
         <!-- 左 -->
         <div>
            <p>
                <span class="font1">糖猫产品</span>
                <span class="font2 font2-left">糖猫连续三年获“全国质量诚信示范企业”国民信赖品牌实质名归</span>
            </p>
        </div>
        <!-- 右 -->
        <div>
            <a href="#" class="font2">全部</a><span class="font2">&gt;</span>
        </div>
       </div>
        <div class="clearboth"></div>
    </div>
    <!-- 产品详情 -->
    <div class="five-box">
        <ul>
            <li>
                <img src="/images/006.jpg" alt="">
                <p class="font3">搜狗糖猫A10 视频电话手表</p>
                <p class="font2 font4">大屏长续航 多重精准定位</p>
                <p class="price font4">￥399.00</p>
            </li>
            <li>
                <img src="/images/005.jpg" alt="">
                <p class="font3">搜狗糖猫K1</p>
                <p  class="font2 font4">能学习的视频电话手表</p>
                <p class="price font4">￥499.00</p>
            </li>
            <li>
                <img src="/images/003.jpg" alt="">
                <p class="font3">糖猫JOY2 能学口语的儿童手表</p>
                <p  class="font2 font4">4G高速网络，高清视频通话，AI多重...</p>
                <p class="price font4">￥379.00</p>
            </li>
            <li>
                <img src="/images/004.jpg" alt="">
                <p class="font3">糖猫Plus2 变声讲故事</p>
                <p  class="font2 font4" style="overflow:hidden">双向高清通话 7天超长待机 AI七重定...</p>
                <p class="price font4">￥199.00</p>
            </li>
        </ul>
    </div>
</div>
<!--第六行 -->
<div class="six">
    <img src="/images/20190716144306_1679.png" alt="">
</div>
    </div>
    <!-- 第七行 -->
    <div>
        <!-- 左 -->
        <div class="seven">
            <!-- 左 -->
            <div class="seven-left">
                <!-- 上 -->
                <div>
                    <p>搜购商城让生活更智能更方便</p>
                </div>
                <!-- 下 -->
                <div class="seven-item1">
                    <dl>
                        <dt><img src="/images/666.jpg" alt=""></dt>
                        <dd>科技乐趣</dd>
                    </dl>
                    <dl>
                        <dt><img src="/images/777.jpg" alt=""></dt>
                        <dd>人工智能</dd>
                    </dl>
                    <dl>
                        <dt><img src="/images/屏幕截图-2022-03-05-155538_07.jpg" alt=""></dt>
                        <dd>智能翻译</dd>
                    </dl>
                    <dl>
                        <dt><img src="/images/屏幕截图-2022-03-05-155538_09.jpg" alt=""></dt>
                        <dd>智能生活</dd>
                    </dl>
                    <dl>
                        <dt><img src="/images/屏幕截图-2022-03-05-155538_11.jpg" alt=""></dt>
                        <dd>可靠贴心</dd>
                    </dl>
                </div>
            </div>
            <!-- 中 -->
            <div class="seven-center">
                <p>
                    关注搜狗商城，<span style="color:red" >优惠活动</span>早知道
                </p>
                <ul class="seven-item2">
                    <li>
                        <img src="/images/20190325140401_4613.jpg" alt="">
                        <p>微信公众号</p>
                    </li>
                    <li>
                        <img src="/images/111.jpg" alt="">
                        <p>小程序</p>
                    </li>
                </ul>
            </div>
            <!-- 右 -->
            <div class="seven-right">
                <!-- 上 -->
                <div class="sr-top">
                    <ul>
                        <li>
                            <img src="/images/屏幕截图-2022-03-05-161552_03.jpg" alt="">
                            <p>7天免费退货</p>
                        </li>
                        <li>
                            <img src="/images/屏幕截图-2022-03-05-161552_05.jpg" alt="">
                            <p>一年内保修</p>
                        </li>
                    </ul>
                </div>
                <!-- 下 -->
                <div class="sr-bottom">
                    <p>客服电话</p>
                    <p>400-123-7676</p>
                    <p class="font2">周一至周日 9:00-21:00</p>
                </div>
            </div>
        </div>
       
    </div>
    <!-- 第8行 -->
    <div class="eight">
        <ul class="font2 e-div">
            <li><a href="#">关于我们</a></li>
            <li><a href="#">意见反馈及投诉</a></li>
            <li><a href="#">用户协议</a></li>
            <li><a href="#">隐私政策</a></li>
            <li><a href="#">网址大全</a></li>
            <li><a href="#">售后服务</a></li>
            <li><a href="#">营业执照</a></li>
            <div class="clearboth"></div>
        </ul>
    </div>
    <!-- 第9行 -->
    <div class="nine font2 ">
        <P>
            Copyright &copy;2020 Sougou.com.
            All Right Reserved.京ICP证050897号/京ICP备11001839号-1/京公网安备11000002000025号
        </P>
    </div>
     <!-- 定位-->
     <div class="dingwei">
        <ul>
            <li><img src="/images/屏幕截图 2022-03-05 161942.png" alt=""></li>
            <li><img src="/images/屏幕截图 2022-03-05 161959.png" alt=""></li>
            <li><img src="/images/屏幕截图 2022-03-05 162015.png" alt=""></li>
        </ul>
    </div>
</body>
</html>