<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户信息注册</title>
     <link rel="stylesheet" href="/css/resign.css">
</head>
<body>
    <!-- 第一行 -->
    <div id="top">
        <!-- 左 logo图 -->
        <div style="float: left;">
            <img src="/images/mmexport1657019402723.png" alt="">
            <a href="#" style="color: black;">
                <span class="larger">欢迎注册</span>
            </a>
        </div>
        <!-- 右 登录 -->
        <div style="float: right;">
            <p>
                <span class="color2">已有账号?</span>
                <a href="#" class="color1">请登录></a>
            </p>
        </div>
    </div>
    <!-- 第二行 -->
    <div id="md">
        <!-- 信息注册 -->
        <div style="width: 300px;margin-bottom: 50px;height: 60px;">
            <ul>
                <li>
                    <img src="/images/mmexport1657019398015.png" alt="">                  
                    <p style="color: green;">验证手机号</p>
                </li>
                <!-- <li>
                    <span>. . . </span>
                </li> -->
                <li><img src="/images/mmexport1657019396080.png" alt="">
                    <p>填写账号信息</p>
                </li>
                <!-- <li>
                    <span>. . . </span>
                </li> -->
                <li> 
                    <img src="/images/mmexport1657019394118.png" alt="">
                    <p>注册成功</p>
                </li>
            </ul>
        </div>
        <!-- 手机号输入框 -->
        <div style="width: 300px;">
           <select name="" id="" class="phone">
            <option value="">中国 0086</option>
            <option value="">美国 0057</option>
            <option value="">日本 0034</option>
           </select>
           <input type="text" placeholder="建议使用常用手机号"  style="width:200px;height:36px;">
        </div>
        <!-- 点击按钮 -->
        <div style="border:1px solid  #aba3a3 ;width: 300px;height:44px;line-height: 44px;" class="mg">
           <span> 点击按钮进行验证</span>
        </div>
        <!-- 下一步按钮 -->
        <div style="width: 300px;height:44px;line-height: 44px;background-color: red;color:#ffffff;" class="mg">
            <span>下一步</span>
        </div>
    </div>
    <!-- 底部 -->
    <div style="height:50px;line-height:50px;text-align: left;width: 300px;margin:30px auto;" class="bottom"> 
        <img src="/images/mmexport1657019392229.png" alt="">&nbsp;
        <span>企业用户注册</span>
    </div>
</body>
</html>